<div class="sav-p-css">
  <div class="c1_s cr1">
    <div>
      <div class="p-size">30%</div>
      <div class="exp-size px1">Saving for car loan</div>
      <div class="exp-size">Saving for car loan</div>
    </div>
    <div>icon</div>
  </div>
  <div class="c1_s cr2">
    <div>
      <div class="p-size">30%</div>
      <div class="exp-size px1">Saving for car loan</div>
      <div class="exp-size">Saving for car loan</div>
    </div>
    <div>icon</div>
  </div>
  <div class="c1_s cr3">
    <div>
      <div class="p-size">30%</div>
      <div class="exp-size px1">Saving for car loan</div>
      <div class="exp-size">Saving for car loan</div>
    </div>
    <div>icon</div>
  </div>
  <div class="c1_s cr4">
    <div>
      <div class="p-size">30%</div>
      <div class="exp-size px1">Saving for car loan</div>
      <div class="exp-size">Saving for car loan</div>
    </div>
    <div>icon</div>
  </div>
</div>
